/*Nya färger
Lilac
#eeb5eb

Orchid
#c26dbc

Turquoise
#c8f4f9

Blue Green
#3cacae*/

/*styles for all different texts*/
body {
    background-color: whitesmoke;
}
h1 {
    font-family: "Electrolize", sans-serif;
    font-size: 40px;
}
h2 {
    font-family: "Electrolize", sans-serif;
    font-size: 36px;
}
h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 24px;
}
p {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}
span {
    font-family: "Indie Flower", cursive;  /*finns bara som Regular 400*/
    font-size: 20px;
}

li {
    font-family: "Quicksand", sans-serif;
    list-style-type: none;
    margin-bottom: 5px;
}
/*styles for header and nav, almost the same on all pages*/
.header {
    max-width: 1000px;
    width: 100%;
    min-height: 150px;
    height: 100%;
    margin: auto;
    margin-top: 15px;
    background-color: #3CACAE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.nav {
    background-color: #3CACAE;
    max-width: 1000px;
    width: 100%;
    min-height: 50px;
    height: 100%;
    margin: auto;
    display: flex;
    position: sticky;
    top: 0px;
}
.nav ul {
    display: flex;
}
.nav li {
    margin-right: 20px;
}

/*styles for home page*/
.introduction {
    background-color: #C8F4F9;
    max-width: 1000px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.introduction h2 {
    margin-left: 15px;
}
.introduction p {
    margin-left: 15px;
}

/*styles for CV page*/
.summary-container {
    max-width: 1000px;
    width: 100%;
    min-height: auto;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #EEB5EB;
    color: #3e203c;
}
.summary-container p, .summary-container h2, .summary-container h3, .summary-container li {
    padding-left: 25px;
    padding-right: 25px;
}
.summery-p {
    text-align: justify;
}
.summary-container ul {
    display: flex;
    flex-direction: column;
}


.experience-container {
    max-width: 1000px;
    width: 100%;
    min-height: auto;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #206465;
    background-color: #C8F4F9;
    padding: 10px;
}
.experience-container ul {
    display: flex;
    padding-left: 0px;
    
}
.experience-container li {
    margin-right: 15px;
    font-weight: 600;
}

.experience-company {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 10px;
    margin-bottom: 25px;
}
.experience-company p {
    text-align: justify;
}
.footer {
    max-width: 1000px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    margin: auto;
    margin-top: 15px;
    background-color: #3CACAE;
    display: flex;
    justify-content: space-around;
    align-items: center;
}